@media(max-width:1399px){
	.banner_inner {
	    padding: 40px 30px;
	}

	.feature_section p {
	    padding: 20px 0px;
	    word-spacing: 0px;
	}

	.feature_section {
	    padding: 40px 0;
	}

	.simple_intro_section {
	    padding: 40px 0;
	}

	.simple_intro_section p {
	    letter-spacing: 0;
	}

	footer {
	    padding: 40px 0 30px 0;
	}


}

@media(max-width:1199px){

	.banner_inner .ban_h {
	    font-size: 28px;
	}

	.banner_inner {
	    width: 420px;
	}

	.banner_inner .ban_p {
	    font-size: 28px;
	}

	.banner_inner p {
	    font-size: 16px;
	    padding: 0 0px;
	}

	.btn-custom {
	    font-size: 16px;
	    padding: 6px 20px;
	}

	p {
	    font-size: 16px;
	}

	h2 {
	    font-size: 18px;
	    letter-spacing: 0px;
	}

	.feature_text {
	    padding: 20px 10px;
	}

	.portfolio_section h1 {
	    font-size: 30px;
	    line-height: 1.5;
	}

	.portfolio_section h3 {
	    font-size: 18px;
	    line-height: 1.5;
	    word-spacing: 0;
	}

	.portfolio_section {
	    padding: 0px 0 30px 0;
	}

	.up_line {
	    padding: 15px 0;
	}

	.feature_section {
	    padding: 40px 0 0 0;
	}

}


@media(max-width:991px){

	.simple_intro_section .col-8 {
	    width: 90%;
	}

	.feature_text {
	    padding: 15px 0px;
	}

	h2 {
	    font-size: 17px;

	}

	.up_line {
	    padding: 12px 0;
	    font-size: 28px;
	}

	.portfolio_section h3 {
	    font-size: 16px;
	}

	.port_texts {
	    padding: 0px 20px;
	}

	.portfolio_section .row{
		align-items: center;
	}

	.simple_intro_section .col-9 {
	    width: 90%;
	}

}



@media(max-width:767px){

	.features {
	    padding: 0px;
	}

	h2 {
	    font-size: 13px;
	}

	p{
		font-size: 14px;
	}

	.portfolio_section .col-6 {
	    width: 100%;

	}

	.port_img {
	    width: 50%;
	    margin: auto;
	    padding: 30px 0;
	}


	.port_texts {
	    padding: 0px 0px;
	    width: 75%;
	    margin: auto;
	}

	.port_texts h1 {
	    text-align: center;
	    padding: 30px 0;
	}

	.feature_section p {
	    padding: 15px 0px;
	}

	.uline {
	    margin: 14px 0;
	}

}


@media(max-width:575px){

	.banner_inner {
	    width: 100%;
	}

	h1 {
	    font-size: 21px!important;
	}

	.line:before {
	    content: "";
	    width: 55px;
	}

	p {
	    font-size: 14px!important;
	    padding: 0 15px;
	}

	.feature_section .col-4 {
	    width: 100%;
	}

	h2 {
	    font-size: 20px;
	}

	.port_img {
	    padding: 0px 0;
	    width: 100%;
	}

	.simple_intro_section {
	    padding: 25px 0;
	}

	.banner_section {
	    background: url(../img/b1.png) bottom left no-repeat;
	}

	.banner_inner .ban_p {
	    font-size: 24px;
	}

	.btn-custom {
	    font-size: 16px;
	    padding: 6px 10px;
	}

	.port_texts {
	    width: 100%;
	}

	.portfolio_section h3 {
	    font-size: 15px;
	}

	.port_texts h1 {
	    padding: 10px 0;
	}

	.portfolio_section h1{
		font-size: 30px!important;
	}

	.intro_text {
	    padding: 30px 0 0 0;
	}

	.uline {
	    margin: 8px 0;
	}

	.feature_section p {
	    padding: 15px 10px;
	}

	.up_line:after {
	    content: "";
	    top: -10px;
	}

	footer {
	    padding: 25px 0 20px 0;
	}

}


@media(max-width:320px){

	.container{
		width: 99%;
	}

	.banner_inner {
	    padding: 20px 0px;
	}

	.banner_inner .ban_h {
	    font-size: 16px!important;
	}

	p {
	    font-size: 12px!important;
	}

	.banner_section {
	    background: url(../img/b1.png) center no-repeat;
	    height: 65vh;
	}

	.simple_intro_section p {
	    padding: 0!important;
	}

	h2 {
	    font-size: 14px;
	}

	.simple_intro_section .col-8 {
	    width: 95%;
	}

	.feature_section {
	    padding: 25px 0 0 0;
	}

	.portfolio_section h3 {
	    font-size: 13px;
	}

	.simple_intro_section img{
		padding: 0px 0 15px 0;
	}

	.feature_section p {
	    padding: 15px 10px 0;
	}

	.footer_widget h1 {
	    font-size: 16px!important;
	}

	.footer_widget .btn-custom {
	    font-size: 12px;
	    padding: 9px 10px;
	}

	footer {
	    padding: 10px 0 0px 0;
	}

}


