@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-duration: .4s;
	

}
body{
	font-family: 'Poppins', sans-serif;
}
a, a:hover{
	text-decoration: none;
}

p {
    font-size: 18px;
    color: #000;
    line-height: 1.7;
    padding: 0 20px;
    letter-spacing: 0.5px;
}



.banner_section{
	background: url(../img/b1.png) center  top no-repeat;
	height: 90vh;
	background-size: cover;
	position: relative;
}

.banner_inner{

	padding: 70px 30px;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	background: #ffffffb8;
	width: 500px;
}

.banner_inner .ban_h{
	font-size: 35px;
	font-weight: 700;
	color: #000;
	line-height: 1.6;
}
.banner_inner .ban_p {
    font-size: 35px;
    font-weight: 500;
    color: #000;
}
.line {
    position: relative;
}

.line:before {
    content: "";
    width: 80px;
    height: 4px;
    background: #000;
    position: absolute;
    top: 50%;
}

.btn-custom {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: #000;
    padding: 8px 27px;
    border-radius: 0px;
    margin-top: 10px;
    text-transform: uppercase;
    border: 1px solid #000;
}

.btn-custom:hover{
	color: #000;
    background: #fff;
}

.simple_intro_section{
	padding: 70px 0;
}

.intro_text {
    padding: 30px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}


.feature_section {
    padding: 60px 0;
}

.features {
    padding: 10px;
}

.feature_text {
    padding: 20px 30px;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.uline {
    position: relative;
    width: 100%;
    margin: 20px 0;
    display: block;
}

.uline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background: #000;
    transform: scale(0.2);
    left: 0;
}

.feature_section p {
    padding: 20px;
    word-spacing: 2px;
}


.portfolio_section {
    padding: 0px 0 60px 0;
}

.portfolio_section h1 {
    font-size: 40px;
    line-height: 1.7;
}

.port_texts {
    padding: 0px 60px;
}

.portfolio_section h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    word-spacing: 2px;
   
}

.portfolio_section .fa{
	margin-right: 5px;
}

.footer_widget{
	padding: 10px 0;
}

.widgets{
	padding: 10px 0;
}

.up_line{
	position: relative;
	padding: 20px 0;
}

.up_line:after {
    transform: scale(.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #000;
    left: 0;
    top: -20px;
}

footer{
	padding: 60px 0 30px 0;
}
